.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    z-index: 100;
}

.navbar > .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}

.navbar > .profile > .pfp {
    width: 4rem;
    height: 4rem;
    object-fit: fill;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.navbar > .profile > .hello {
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
    text-align: center;
}

.navbar > .profile > .name {
    font-size: 1.1rem;
    font-weight: 900;
    color: #424242;
    text-align: center;
}

.navbar > .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    margin-bottom: 4rem;
    gap: 1rem;
}

.navbar > .links > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #424242;
    text-decoration: none;
    gap: 0.5rem;
    width: 100%;
}


.navbar > .links > a.active {
    font-weight: 900;
}

.navbar > .links > a.active > svg {
    stroke-width: 2.5;
}

.navbar > .links > a > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.x {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display: none;
        height: 100vh;
    }

    .x {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: block;
        width: 2rem;
    }

    .menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2rem;
    }
}